@model RecupereJa.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-md-5">
        <h3 class="mb-3">Entrar</h3>
        <form method="post" asp-controller="Usuario" asp-action="Login">
            @Html.AntiForgeryToken()
            <div class="mb-3">
                <label class="form-label">E-mail ou Identificador</label>
                <input class="form-control" name="identificadorOuEmail" required />
            </div>
            <div class="mb-3">
                <label class="form-label">Senha</label>
                <input class="form-control" type="password" name="senha" required />
            </div>
            <button class="btn btn-primary w-100" type="submit">Entrar</button>
        </form>
        <div class="text-center mt-3">
            <a asp-action="Registrar">Não tem conta? Registrar</a>
        </div>
    </div>
</div>