@{
    ViewData["Title"] = "Usuario";
}

<div class="text-center">
    <h1 class="display-4">Tela do Perfil do usuário</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<img src="https://www.exitlag.com/blog/wp-content/uploads/2024/12/steve-from-minecraft-1.webp" alt="Descrição da imagem">
