@model RecupereJa.Models.Usuario

<form method="post">
    <input name="Nome" placeholder="Nome" required />
    <input name="Email" placeholder="Email" required />
    <input type="password" name="Senha" placeholder="Senha" required />
    <button type="submit">Registrar</button>
</form>
