@{
    ViewData["Title"] = "Teste ";
}

<div class="text-center">
    <h1 class="display-4">Tamo testando Tamo testado</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2> opa</h2>
